*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Shared Styles */

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn{
    background-color: #FD6E0A;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    line-height: auto;
    text-decoration: none;
    transition: background-color 0.5s, color 0.5s; 
}

.btn:hover{
    background-color: #fff;
    color: #FD6E0A;
}

.download-cv-btn{
    padding: 19px 17px 18px 17px;
    max-width: 200px;
    width: 100%;
}

main {
    background-color: #F3F3F3;
    padding: 130px 0 0;
}

.mini-title{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    color: #181818;
}

.mini-text{
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    line-height: 30px;
    margin: 30px 0;
    text-align: center; 
}

.internal{
    max-width: 827px;
    margin: 0 auto;
}

.straight-line{
    width: 558px;
    background-color: #D1D1D1;
    height: 1px;
}

/* Individual Styles */

/* Header Section */
header{
    background-color: #FFF8F3;
    padding-top: 50px;
}

#header-bg{
    background-image: url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: auto;
    margin-left: 23px;

}

#logo h2{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
    line-height: auto;
}

#logo span{
    color: #FD6E0A;
}

#top-nav-bar{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto 46px;
}

#nav-options ul{
    margin-right: 51px;
    gap: 68px;
    max-width: 189px;
}

#nav-options ul li{
    list-style-type: none;
}

#nav-options ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: #474747;
    line-height: auto;
}

#top-nav-bar-btn{
    padding: 18.28px 35px 19.3px 35px;
    max-width: 150px;
}

/* Top Hero */

#hero-bg{
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto;
}

.hero-banner{
    max-width: 1309px;
    width: 100%;
    margin-left: 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#contact-btn{
    padding: 19px 24px 18px 25px;
    max-width: 160px;
}

.two-btns{
    margin-top: 30px;
    display: flex;
    gap: 30px;
}

.two-btns button a i{
    margin-right: 11px;
}

#hero-text-content h3{
    line-height: auto;
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}

#hero-text-content h1{
    line-height: auto;
    font-size: 85px;
    margin: 5px 0 20px;
    font-weight: 700;
    color: #181818;
}

#hero-text-content p{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #757575;
    max-width: 585px;
}

#hero-img img{
    display: block;
    width: 100%;
}

/* About Me Section */

#about {
    background-color: #FFF8F3;
    padding: 131px 0;
    border-radius: 5px;
    max-width: 1140px;
    margin: 0 auto;
}

#about-section ul{
    display: flex;
    justify-content: space-between;
}

#about-section ul li{
    list-style-type: none;
    font-size: 20px;
    color: #757575;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
}

#about-section ul li span{
    font-weight: 700;
    display: block;
}

/* What I Do Section */
#what-i-do{
    padding: 130px 0;
}

#what-i-do section{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    max-width: 1140px;
    margin: 0 auto;
}

.skill-set{
    padding: 30px 42px 30px 36px;
    background-color: #fff;
    border-radius: 5px;
}

.skill-set figure img{
    display: block;
}

.skill-set figure figcaption{
    font-size: 20px;
    font-weight: 700;
    color: #181818;
    line-height: auto;
    margin: 30px 0 20px;
}

.skill-set p{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #757575;
}

/* Resume */

#resume{
    margin-top: 113px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#resume ul{
    display: flex;
    justify-content: center;
    gap: 100px;
    max-width: 1140px;
    margin: 0 auto;
}

#resume ul li{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#resume ul li h3{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    line-height: auto;
    margin-bottom: 30px;
}

#resume ul li article{
    max-width: 450px;
}

#resume ul li article h2{
    font-weight: 700;
    color: #474747;
    font-size: 25px;
    line-height: auto;
}

#resume ul li article h4{
    font-weight: 600;
    color: #757575;
    font-size: 20px;
    line-height: auto;
}

#resume ul li article p{
    font-weight: 400;
    color: #757575;
    font-size: 16px;
    line-height: 28px;
}

#bottom-cv-download{
    margin: 0 auto;
}

/* Let's Connect */
#connect{
    background-color: #FFF8F3;
    margin-top: 113px;
    padding: 130px 0;
}

#connect-internal{
    max-width: 1140px;
    margin: 0 auto;
}

#connect-internal ul{
    display: flex;
    gap: 90px;
}

#connect-internal ul li{
    list-style-type: none;
    max-width: 550px;
}

#connect-internal ul li h1{
    font-size: 35px;
    font-weight: 700;
    line-height: auto;
    color: #181818;
}

#connect-internal ul li p{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #474747;
    margin: 20px 0 30px;
}

.socials{
    display: flex;
    gap: 24px;
}

#connect-internal ul li form{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 28px;
}

#connect-internal ul li form input{
    width: 500px;
    display: block;
    height: 64px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    padding: 18px 30px;
    color: #757575;
}

#connect-internal ul li form textarea{
    border: none;
    border-radius: 5px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #757575;
    font-family: "Open Sans", sans-serif;
    padding: 18px 30px;
    margin-bottom: 24px;
    resize: none;
    overflow-y: auto;
}

#form-submit-btn{
    padding: 18px 39px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

/* Footer */
footer{
    background-color: #181818;
    padding: 10px 0;
}

footer p{
    color: #FD6E0A;
    text-align: center;
    font-size: 16px;
}